.menu-list {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  z-index: 1;
}
.menu-list li button {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.menu-ham-button {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.menu-ham-button > svg {
  width: 20px;
  height: 20px;
}
.close-menu-button {
  display: none;
}
@media (max-width: 768px) {
  .menu-ham-button {
    display: block;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 75%;
    padding-top: 5rem;
    top: 0;
    gap: 0;
    bottom: 0;
    background-color: var(--primary-dark-color);
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }
  .menu-list li {
    width: 100%;
    padding: 0rem 3rem;
  }
  .menu-list li button {
    color: white;
    width: 100%;
    cursor: pointer;
    padding: 0.3rem;
    margin: 0.3rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  .menu-list li button:hover {
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
  }
  .menu-list.open {
    transform: translateX(0%);
  }
  .menu-list.closed {
    transform: translateX(100%);
  }
  .menu-list.open .close-menu-button {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 25px;
    padding: 1rem;
    color: white;
    border: none;
    background-color: transparent;
  }
}
@media (max-width: 500px) {
  .menu-list {
    width: 100%;
  }
}