.d-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
} 
.d-form-label {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  width: 100%;
  color: grey;
  font-size: 1.1rem;
}
.d-form-input {
  outline: none;
  color: black;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.6rem;
  width: 100%;
  font-size: 1.2rem;
  color: rgb(51, 50, 50);
}
.d-form-input.d-form-input-error {
  border-color: var(--error-color);
}
.d-span-error {
  display: block;
  color: var(--error-color);
}