
.appointment-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  gap: 0.8rem;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  min-width: 380px;
}
.appointment-card-date strong {
  margin-right: 0.5rem;
}
.appointment-card-patient strong {
  margin-right: 0.5rem;
}
.appointment-card-dentist strong {
  margin-right: 0.5rem;
}
.appointment-card-control {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}
@media screen and (max-width: 678px) {
  .appointment-card {
    align-items: center;
  }
  .appointment-card-info {
    width: 100%;
  }
  .appointment-card-date {
    width: 100%;
  }
  .appointment-card-right {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
@media screen and (max-width: 440px) {
  .appointment-card {
    flex-direction: column;
  }
}
