
.appointment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  gap: 0.8rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}
.appointment-card-date strong {
  margin-right: 0.5rem;
}
.appointment-card-patient strong {
  margin-right: 0.5rem;
}
.appointment-card-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 678px) {
  .appointment-card {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .appointment-card-info {
    width: 100%;
  }
  .appointment-card-date {
    width: 100%;
  }
  .appointment-card-right {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}