:root {
  --primary-color: #07689F;
  --secondary-color: #A2D5F2;
  --white-color: #FAFAFA;
  --action-color: #FF7E67;
  --black-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--white-color);
  font-family: 'Ubuntu', sans-serif;
}
p, h1, h2, h3, h4, h5, small, span, label, a {
  color: var(--black-color);
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  color: #0000EE;
}