.my-appointments-container {
  width: 100%;
}
.my-appointments-container h1 {
  margin-bottom: 1rem;
  text-align: center;
}
.appointment-list { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 890px) {
  .appointment-list {
    justify-content: center;
  }
  .my-appointments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}