.new-appointment-container form > p {
  padding: 0.5rem;
}

.select-dentists-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.select-dentists-question input {
  width: 1rem;
}
.select-services-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.select-services-question input {
  width: 1rem;
}