.service-list {
  width: 100%;
  position: absolute;
  background-color: lightgray;
  z-index: 2;
}
.service-selector-component {
  width: 100%;
  position: relative;
}
.service-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  padding: 0.2rem 0.6rem;
  background-color: lightgray;
  cursor: pointer;
}
.service-selector img {
  width: 2rem;
  border-radius: 50%;
}
.service-selector .dropdown-icon {
  font-size: 1.2rem;
}
.service-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.service-item img {
  width: 2rem;
  border-radius: 50%;
}
.service-selector {
  width: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.6rem;
  background-color: transparent;
}
.service-selector:hover {
  background-color: var(--primary-dark-color);
}
