.d-filled-button {
  border: 2px solid transparent;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
  transition: color 0.1s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4;
}
.d-filled-button:hover {
  color: var(--secondary-color);
  background-color: white;
  border: 2px solid var(--secondary-color);
}