.d-form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 1rem;
} 
.d-form .d-filled-button {
  margin-top: 0.8em;
  font-size: 1.4rem;
}